@font-face {
  font-family: "siteText";
  src: url("../fonts/Kanit-Medium.ttf");
}
@font-face {
  font-family: "titleText";
  src: url("../fonts/Kanit-MediumItalic.ttf");
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "siteText";
  background-color: #121212;
}

a {
  color: #FFFFFF;
  transition: 0.5s;
}
a:hover {
  transition: 0.5s;
  color: rgb(106, 157, 214);
}

li, a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.fj-bg-black {
  background-color: #121212;
}

header {
  color: #FFFFFF;
  overflow-x: hidden;
  position: fixed;
  z-index: 9;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
header .innerDiv {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px auto;
}
header .innerDiv .logo {
  font-size: 1.2rem;
}
header .innerDiv .hamburger {
  width: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
header .innerDiv .hamburger .hamburgerLines {
  cursor: pointer;
  width: 50%;
}
header .innerDiv .hamburger .hamburgerLines .line {
  display: block;
  height: 4px;
  width: 45px;
  border-radius: 30px;
  margin-bottom: 10px;
  background: #FFFFFF;
}
header .innerDiv .hamburger .hamburgerLines:first-child {
  margin-top: 12px;
}

main {
  width: 100%;
}
main .pixelPicture {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main .pixelPicture .innerBlock {
  position: relative;
  flex-direction: column;
  width: 40%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .pixelPicture .innerBlock img {
  display: none !important;
}
main .pixelPicture .innerText {
  position: absolute;
  color: white;
  width: 50%;
}
main .pixelPicture .innerText h2 {
  font-size: 5rem;
  font-family: titleText;
}

#menu {
  overflow: hidden;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  height: 100vh;
  z-index: 9;
}
#menu .blankSpace, #menu .navSpace {
  height: 100vh;
}
#menu .blankSpace {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#menu .navSpace {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  background-color: #121212;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#menu .navSpace .centerNav ul li {
  padding: 10px 0px;
  font-size: 1.5rem;
}

.open .blankSpace {
  animation: blankShowFrom 1s;
}
.open .navSpace {
  animation: slideOpen 0.5s;
}

.close .blankSpace {
  animation: blankShowTo 1s;
}
.close .navSpace {
  animation: slideClose 0.5s;
}

.manyCards {
  width: 60%;
  display: flex;
  justify-content: space-around;
  pointer-events: none;
  color: white;
}
.manyCards .card {
  pointer-events: auto;
  width: 30%;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}
.manyCards .card .cardImage {
  width: 100%;
  text-align: center;
}
.manyCards .card .cardImage img {
  width: 70%;
  transition: all 150ms ease-in-out;
}
.manyCards .card .cardText {
  padding-top: 10px;
  text-align: center;
}

.manyCards:hover > .card:hover {
  z-index: 7;
}
.manyCards:hover > .card:hover .card .cardImage img {
  padding: 10px;
  transition: all 150ms ease-in-out;
}

.manyCards:hover > .card:not(:hover) {
  opacity: 0.5;
}

.block.column {
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)); /* Initially, cards are in a row */
}

#categoryContainer, #subCatContainer {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

#subCatContainer {
  z-index: 7;
}
#subCatContainer #fillSpaceSubCat {
  width: 30%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
}
#subCatContainer #innerSubCatContainer {
  transition: 0.5s;
  width: 70%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: #383838;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}
#subCatContainer #innerSubCatContainer #printSubCats {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  color: white;
}

#categoryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  z-index: 8;
  background-color: #121212;
}
#categoryContainer #printCatCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 60%;
  text-align: center;
}

.jc-ai {
  align-items: center !important;
}

.cursor-poiner {
  cursor: pointer;
}

@media screen and (max-width: 780px) {
  #menu .navSpace {
    width: 50%;
  }
  #fillSpaceSubCat {
    width: 20%;
  }
}
@media screen and (max-width: 430px) {
  #menu .navSpace {
    width: 75%;
  }
}
@keyframes blankShowFrom {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blankShowTo {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slideOpen {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideClose {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}/*# sourceMappingURL=styleNew.css.map */