.bg-darkBlue {
  background-color: rgb(21, 37, 54);
}

@font-face {
  font-family: "slike-sajt";
  src: url("../fonts/Proxima Nova Font.otf");
}
@-webkit-keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}
@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

body {
  background: #121212;
  background-image: #121212;
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "slike-sajt" !important;
  color: white;
}

a {
  transition: 0.5s;
}
a:hover {
  color: #1b76df !important;
  text-decoration: none !important;
}

p {
  margin: 0px !important;
  padding: 0px !important;
}

#bannerCarousel {
  z-index: 7;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  text-align: center;
}

.carousel-item1 {
  background-image: url("../img/one.png") !important;
}

.carousel-item2 {
  background-image: url("../img/two.png") !important;
}

.carousel-item3 {
  background-image: url("../img/three.png") !important;
}

nav {
  z-index: 9 !important;
}

.carousel-item {
  height: 100vh;
  background: no-repeat center center scroll;
  background-size: cover;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}

.bg-half-tron {
  width: 100%;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
  margin: 0px auto;
}

.catItems {
  pointer-events: none;
}
.catItems .catItem {
  pointer-events: auto;
  transition: all 150ms ease-in-out;
}
.catItems .catItem .card {
  background-color: rgba(79, 79, 79, 0.5) !important;
  color: white;
  height: 22em;
}
.catItems .catItem .card img {
  padding: 15px;
  transition: all 150ms ease-in-out;
}

.catItems:hover > .catItem:hover {
  z-index: 7;
}
.catItems:hover > .catItem:hover .card img {
  padding: 10px;
}

.catItems:hover > .catItem:not(:hover) {
  opacity: 0.5;
}

.info-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0px auto;
  background-color: rgb(51, 51, 51);
  padding: 25px 0px;
  text-align: center;
  transition: 0.5s;
}
.info-img h3 {
  margin-top: 15px;
  font-size: 2em;
}
.info-img:hover {
  background-color: #1b76df;
}
.info-img:hover h3 i {
  color: #121212;
}

.info-heading {
  padding-top: 10px;
}

.info-desc {
  padding: 5px 20px;
}

.fj-footer {
  width: 60%;
  margin: 0px auto;
}
.fj-footer .fj-footer-div {
  border-left: 1px solid white;
}
.fj-footer .fj-footer-div ul {
  margin-left: 20px;
}
.fj-footer .fj-footer-div ul li {
  padding: 10px 0px;
}

.arrow, .arrow:before {
  position: absolute;
  left: 50%;
  z-index: 7;
}

.arrow {
  width: 40px;
  height: 40px;
  top: 95vh;
  margin: -20px 0 0 -20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
}

.arrow:before {
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: arrow;
          animation-name: arrow;
}

#selectCatPage {
  margin-top: 100px !important;
}

#itemShow {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-color: #121212;
  z-index: 9;
}
#itemShow #iksic {
  position: absolute;
  top: 20px;
  left: 20px;
  font-weight: bold;
  cursor: pointer;
}
#itemShow .toCenter {
  width: 70%;
}
#itemShow .toCenter .prodImg {
  width: 80%;
}
#itemShow .toCenter .prodImg .slider-for div img {
  margin: 0px auto;
  width: 80%;
}
#itemShow .toCenter .prodImg img {
  width: 100%;
}

.slider-nav div img {
  padding: 10px;
}

.slick-prev {
  left: 0.5em;
  z-index: 9;
}

.slick-next {
  right: 0.5em;
  z-index: 9;
}

.magnify > .magnify-lens {
  width: 150px !important;
  height: 150px !important;
  border-radius: 0% !important;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25) !important;
}

.fa-magnifying-glass {
  cursor: pointer;
}

#dropdown {
  position: relative;
  display: none;
}

#dropdownContent {
  display: none;
  position: absolute;
  flex-direction: column;
  width: 150%;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
  top: 2em;
  border-radius: 1px;
  left: 0;
}

.zoom {
  display: inline-block;
  position: relative;
}

/* magnifying glass icon */
.zoom:after {
  content: "";
  display: block;
  width: 33px;
  height: 33px;
  position: absolute;
  top: 0;
  right: 0;
}

.zoom img {
  display: block;
}

.zoomImg {
  z-index: 10 !important;
}

.zoom img::-moz-selection {
  background-color: transparent;
}

.zoom img::selection {
  background-color: transparent;
}

.dropItem {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px;
  color: white;
}
.dropItem .dropImage {
  width: 30%;
}
.dropItem .dropImage img {
  width: 100%;
}
.dropItem .dropText {
  width: 69%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropItem .dropText .dropTextCenter {
  width: 100%;
}
.dropItem .dropText .dropTextCenter p {
  margin-top: 1.5em;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #121212;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.navbar {
  display: flex;
  flex-direction: column;
}
.navbar #headerContact {
  display: none;
  justify-content: space-between;
}
.navbar #headerContact a {
  padding: 0;
  color: white;
  font-size: 12px;
}

.flex-end {
  justify-content: flex-end !important;
}

.instaBigRez {
  display: block;
}

#searchDo {
  background-color: #293241;
  border: 1px solid #46546d;
  color: white;
}

@media screen and (max-width: 1440px) {
  .catItems .catItem .card {
    height: auto;
  }
  .instaBigRez {
    display: none;
  }
}
@media screen and (max-width: 770px) {
  #dropdownContent {
    left: -25%;
  }
  #itemShow .toCenter .prodImg {
    width: 100%;
  }
  #navBarTrans #headerContact {
    display: flex;
    text-align: center;
  }
}
@media screen and (max-width: 430px) {
  .slider-nav {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */