$tamnoPlava: rgb(65, 90, 119);
$big-stone:rgb(21, 37, 54);
$bg-dark: #121212;
$white:#fff;
$smalt-blue:#4e958b;
$maroon-flush:#C32361;
$black:#000;
$thatBlue: #1b76df;

.bg-darkBlue{
  background-color: $big-stone;
}
.fj-thatBlue{
  color: $thatBlue;
}
@font-face {
  font-family: "slike-sajt";
  src: url("../fonts/Kanit-Medium.ttf");
}
@font-face {
  font-family: "naslov-sajt";
  src: url("../fonts/Kanit-MediumItalic.ttf");

}
@keyframes arrow{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(-10px, -10px);
    }
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    //outline: 1px solid green;
}
ul{
    list-style-type: none;
}
body{
    background: $bg-dark;
    background-image: $bg-dark;
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "slike-sajt" !important;
    color: white;
}
a{
    transition: 0.5s;
    &:hover{
        color: $thatBlue !important;
        text-decoration: none !important;
    }
}
p{
  margin: 0px !important;
  padding: 0px !important;
}
main{
    #storeDD{
      position: relative;
      width: 100%;
      // 22 logo
      #ddLogoFix{
        display: flex;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        #ddLogo{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            .text{
              z-index: 5;
              position: absolute;
              width: 40%;
              text-align: center;
              margin: 0px auto;
              justify-content: center;
              align-items: center;
              h1{
                color: white;
                font-size: 100px;
                font-family: "naslov-sajt" !important;
              }
            }
            .particleImage{
              z-index: 6;
              img{
                width: 100%;
                display: none;
              }
            }
        }
      }
    }
    #opisRental{
      width: 100%;
      background-color: #252525;
      .opisRentalShell{
        width: 80%;
        margin: 0px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .slikaOpis, .tekstOpis{
          width: 48%;
          padding: 20px;
        }
        .slikaOpis{
          img{
            width: 100%;
          }
        }
      }
    }
    #popustInfo{
      width: 80%;
      margin: 10px auto;
      .popustHeader{
        padding-top: 30px;
        width: 100%;
        h2{
          font-size: 3em;
        }
      }
      .popustTextSlika{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .popustText{
          width: 70%;
        }
        .popustSlika{
          width: 28%;
          text-align: center;
          img{
            width: 50%; 
          }
        }
      }
    }
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}
//card
.catItems{
  pointer-events: none;
  .catItem{
    cursor: pointer;
    pointer-events: auto;
    transition: all 150ms ease-in-out;
    .card{
      background-color: rgba(79, 79, 79, 0.5) !important;
      color: white;
      height: 22em;
      img{
        padding: 15px;
        transition: all 150ms ease-in-out;
      }
    }
  }
}

.catItems:hover > .catItem:hover {
  z-index: 7;
  .card{
    img{
      padding: 10px;
    }
  }
}
.catItems:hover > .catItem:not(:hover) {
  opacity: 0.5;
}
//end of card

footer{
  width: 100%;
  .fj-footer{
    width: 60%;
    margin: 0px auto;
    .fj-footer-div{
      border-left: 1px solid white;
      ul{
        margin-left: 20px;
        li{
          padding: 10px 0px;
        }
      }
    }
  }
}

// categories.html
#selectCatPage{
  margin-top: 100px !important;
}

//items.html
#itemShow{
  #iksic{
    position: absolute;
    top: 20px;
    left: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-color: $bg-dark;
  z-index: 9;
  
  .toCenter{
    width: 70%;
    .prodImg{
      width: 80%;
      .slider-for{
        div{
          img{
            margin: 0px auto;
            width: 80%;
          }
        }
      }
      img{
        width: 100%;
      }
    }
  }
}
.box{
  opacity: 0;
  transition: 0.5s;
}
//carousel item
.slider-nav{
  div{
    img{
      padding: 10px;
    }
  }
}

.slick-prev{
  left: 0.5em;
  z-index: 9;
}
.slick-next{
  right: 0.5em;
  z-index: 9;
}

.magnify > .magnify-lens {
  width: 150px !important;
  height: 150px !important;
  border-radius: 0% !important;
  box-shadow: 0 0 0 2px rgb(255 255 255 / 85%), 0 0 7px 7px rgb(0 0 0 / 25%), inset 0 0 40px 2px rgb(0 0 0 / 25%) !important;
}

.fa-magnifying-glass{
  cursor: pointer;
}
#dropdown{
  position: relative;
  display: none;
}
#dropdownContent{
  display: none;
  position: absolute;
  flex-direction: column;
  width: 150%;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
  top: 2em;
  border-radius: 1px;
  left: 0;
}
//

//magnifier
.zoom {
  display:inline-block;
  position: relative;
}
/* magnifying glass icon */
.zoom:after {
  content:'';
  display:block; 
  width:33px; 
  height:33px; 
  position:absolute; 
  top:0;
  right:0;
}

.zoom img {
  display: block;
}
.zoomImg{
  z-index: 10 !important;
}
.zoom img::selection { background-color: transparent; }

// dropSearchItem
.dropItem{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px;
  color: white;
  .dropImage{
    width: 30%;
    img{
      width: 100%;
    }
  }
  .dropText{
    width: 69%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    .dropTextCenter{
      width: 100%;
      p{
        margin-top: 1.5em;
      }
    }
  }
}
//
// scrollbar
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $bg-dark; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.navbar{
  display: flex;
  flex-direction: column;
  #headerContact{
    display: none;
    justify-content: space-between;
    a{
      padding: 0;
      color: white;
      font-size: 12px;
    }
  }
}
.flex-end{
  justify-content: flex-end !important;
}
#searchDo{
  background-color: #293241;
  border: 1px solid #46546d;
  color: white;
}
.navInsta{
  color: white;
  display: none;
}
.refContainer{
  position: relative;
}
.bg-darker{
  background-color: rgba(0, 0, 0, 0.5);
}
.bg-newer{
  background-color: #252525 !important;
}
.bg-darkBlue{
  background-color: $big-stone;
}
//carousel main page
.fj-cover1{
  background-image: url('../img/one.jpg') !important;
  background-size: cover !important;
  background-position-y: center !important;
}
.fj-cover2{
  background-image: url('../img/one.jpg') !important;
  background-size: cover !important;
  background-position-y: center !important;
}
.fj-cover3{
  background-image: url('../img/one.jpg') !important;
  background-size: cover !important;
  background-position-y: center !important;
}
.color-button {
  background: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.5s, color 0.5s; 
  background-size: 100% 0;
  background-repeat: no-repeat;
  background-position: center bottom;
  &:hover {
    background: #fff;
    color: #3498db;
    background-size: 100% 100%;
  }
}
// nav
nav{
  z-index: 9 !important;
}
ul{
  a{
    color: white;
  }
}
@media screen and (max-width: 1440px) {
  .catItems{
    .catItem{
      .card{
        height: auto;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  #bannerCarousel{
    h1{
      font-size: 16px;
    }
    p{
      font-size: 14px;
    }
    button{
      font-size: 12px;
    }
  }
}
@media screen and (max-width: 770px){
  main{
    #storeDD{
      #ddLogoFix{
        #ddLogo{
          .text{
            width: 100%;
            h1{
              font-size: 65px;
            }
          }
        }
      }
    }
    #opisRental{
      background-color: transparent !important;
      .opisRentalShell{
        width: 100%;
        margin: 0px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 30vh;
        .slikaOpis, .tekstOpis{
          width: 100%;
          height: 100%;
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          top: 0px;
          left: 0px;
          padding: 0px;
        }
        .slikaOpis{
          img{
            width: 100%;
            filter: brightness(40%);
          }
        }
        .tekstOpis{
          padding: 50px;
          p{
            font-size: 14px;
          }
        }
      }
    }
    #popustInfo{
      padding: 20px 0px;
      .popustHeader{
        margin-left: 0px;
        text-align: center;

      }
      .popustTextSlika{
        margin-bottom: 20px;
        .popustText{
          width: 100% !important;
          text-align: center;
        }
        .popustSlika{
          display: none;
        }
      } 
    }
    
}
  #dropdownContent{
    left: -25%;
  }
  #itemShow .toCenter .prodImg {
    width: 100%;
  }
  #navBarTrans{
    #headerContact{
      display: flex;
      text-align: center;
    }
  }
  .navInsta{
    display: block;
    position: absolute;
    top: 0;
    right: 3em;
    font-size: 20px;
  }
}
@media screen and (max-width: 430px) {
  .slider-nav{
    display: none;
  }
  #bannerCarousel{
    width: 75%;
  }
}

// <div class="container-fluid px-0 w-100">
//       <div class="row">
//           <div class="col-12">
//               <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
//                   <div class="carousel-inner">
//                     <div class="carousel-item active">
//                       <div class="jumbotron jumbotron-fluid bg-newer fj-cover1 mb-0">
//                           <div class="container py-5 fj-pozadina text-center">
//                             <h2 class="display-4 py-3 text-light">Oprema broj 1</h2>
//                             <p class="lead">A new, refreshed edition to the famous Brackeys line of top noch keyboards!</p>
//                             <a href="premade.html" class="btn btn-primary px-5 py-2">Shop now</a>
//                           </div>
//                       </div>
//                     </div>
//                     <div class="carousel-item">
//                       <div class="jumbotron jumbotron-fluid bg-newer fj-cover2 mb-0">
//                           <div class="container py-5 fj-pozadina text-center">
//                             <h2 class="display-4 py-3 text-light">Oprema broj 2</h2>
//                             <p class="lead">Know what is in your keyboard, even without oppening it. Mackeys X-ray avaiable now!</p>
//                             <a href="premade.html" class="btn btn-primary px-5 py-2">Shop now</a>
//                           </div>
//                       </div>
//                     </div>
//                     <div class="carousel-item">
//                       <div class="jumbotron jumbotron-fluid bg-newer fj-cover3 mb-0">
//                           <div class="container py-5 fj-pozadina text-center">
//                             <h2 class="display-4 py-3 text-light">Oprema broj 3</h2>
//                             <p class="lead">From the best, kit for everyone, begginers and professionals!</p>
//                             <a href="kits.html" class="btn btn-primary px-5 py-2">Shop now</a>
//                           </div>
//                       </div>
//                     </div>
//                   </div>
//                   <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
//                     <span class="carousel-control-prev-icon fj-prev-black" aria-hidden="true"></span>
//                     <span class="sr-only">Previous</span>
//                   </a>
//                   <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
//                     <span class="carousel-control-next-icon fj-next-black" aria-hidden="true"></span>
//                     <span class="sr-only">Next</span>
//                   </a>
//                 </div>
//           </div>
//       </div>
//   </div>